:root {
    --gray: #cacdd3;
}
.container {
    min-height: 100vh;
    display: grid;
    border-style: groove;
    grid-template-rows: .1fr;
    grid-template-columns: 1fr 2fr;
    text-align: center;
}
h1 {
    text-align: center;
}
.form-heading {
    border-style: groove;
    background: var(--gray);
}
.books-heading {
    border-style: groove;
    background: var(--gray);
}
.form {
    border-style: groove;
    background: var(--gray);
}
.books {
    background-color: blanchedalmond;
    border-style: groove;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column: 2 / 3;
    gap: 15px;
    padding: 15px 15px 0 15px;
}
.books .card {
    background-color: #FFFFFF;
    color: black;
    height: 400px;
    text-align: center;
    display: grid;
}
#add-book {
    display: grid;
    grid-template-columns: .1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.resetbtn {
    margin-left: 20px;
}
.submitbtn, .resetbtn {
    border-radius: 10px;
    padding: 5px;
   
}
.addbookbtn {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}